*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}



/* ----navbar---- */
nav{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding:10px 20px;
    background-image: linear-gradient(30deg,rgb(12, 10, 10),rgb(84, 13, 199),rgb(160, 35, 35));
    align-items: center;
    display: flex;
    box-shadow:0 0 50px 0 rgb(245, 14, 26) ;
    border-top: 5px;    
    width: 100%;
}
nav ul li{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px;
    border-radius: 3px;
}
a.nav-link,a:hover{
    color:white;
    transition: .5s;
}




/* ----section 1---- */
.section1{
    background-image:url(https://www.yamaha.com/en/musical_instrument_guide/common/images/clarinet/manufacturing_main.jpg); 
    background-position: center;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    background-repeat: repeat;
    padding: 10px 10px;
}
.section1 .heading-main{
   padding: 0px 50px;
   
}
.section1 .heading-main pre{
    color:rgb(253, 252, 255);
    font-size: 17px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding:0px 200px;
  
    
}
.section1 .heading-main h1{
    color:white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0 20px;
    font-weight: bold;
}
.btndiv{
text-align: center;
padding: 210px 0;
}
.section1 .heading-main .btnexplore{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(120deg,rgb(248, 8, 8),rgb(197, 22, 197));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px rgb(0,0,.8);
    transition:2s;

}
.section1 .heading-main .btnexplore:hover{
    background-image: linear-gradient(120deg,rgb(197, 22, 197), rgb(248, 8, 8));
    transition:2s;
}

/* section 2 */
.section2 .arrivals h1{
    color: #aa18a3;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    margin: 10px 10px;
}
/* section 3 */
.section3 .arrivals h1{
    color: #aa18a3;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    margin: 10px 10px;
}


/* ----login---- */
.modal .modal-header .modal-title{
    color:blue;
    text-align:center;
    font-size: 35px;
    font-weight: bolder;
}
.modal form{
    text-align: center;
    margin: 10px;
    width: 100%;
    box-shadow: none;  
}
.modal form .input{
    width: 100%;
    margin: 50px;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid blue;
}
.modal form .button{
    padding: 10px 0;
}
.modal .btn{
    text-decoration: none;
}




/* ----piano page---- */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.col-md-3{
    flex-basis: 25%;
    margin-right:2px;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.title{
    color:red;
    text-align: center;
}
h4{
    color: black;
    font-weight: 100;
}
.col-md-3 p{
    font-size: 14px;
    color: black;
}
.col-md-3{
    transform: translateY(-5px);
}
.rating .fa-star{
    color:#ff523b;
}




/* ---- piano s1 ---- */
.container-md{
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image1{
    height:400px;
    padding-left:60px;
}
h2{
   margin: 10px;
}
  
.product-content{
  padding: 10px;
}
.rating-xp .fa-star{
  color:#ff523b;
  margin: 10px 5px;
}
.rolandm p{
  color: black;
  margin: 20px 50px;
  height: 20%;
  font-weight: 600;
  font-size: 30Px;
}
.rolandp p{
  color: black;
  margin: 10px;
  font-weight: 300;
  font-style: oblique;
}
h5{
 margin: 10px;
}
.btn-add{
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(120deg,rgb(248, 8, 8),rgb(197, 22, 197));
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgb(41, 41, 49);
  transition:2s;
}
.btn-add:hover{
  background-image: linear-gradient(120deg,rgb(197, 22, 197), rgb(248, 8, 8));
  transition:2s;
}


/* contact us page */
.contact{
    box-sizing: border-box;
    padding: 30px;
    color: black;
  
}
.contact h1{
    color: rgb(224, 62, 22);
    margin: 20px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
.contact h2{
    color: blueviolet;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-decoration: underline;
}
.contact a{
    color: blueviolet;
    font-size: 30px;
}
.contact pre{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}
.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .ctinfo a{
margin: 15px 700px;
margin-bottom: 15px;
text-decoration-style: none;
}


/* brands page */
.brands .btitle{
    color: rgb(5, 18, 44);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

/*---- footer ----*/
footer{
    background-image: linear-gradient(30deg,rgb(12, 10, 10),rgb(84, 13, 199),rgb(160, 35, 35));
    margin: 10px 0;
}
footer label{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding:10px 20px;
}
.container{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:30px;
}
h3{
    font-size:30px;
    color: white;
    text-transform: capitalize;
    text-decoration-line: underline;
}
p{
    color:white;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-col{
 width: 25%;
 padding: 0 50px;
}
.footer-col ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
}
.footer-col ul li a:hover{
    color:blue;
    padding-left: 10px;
}
.social-links a{
    color: white;
    font-size: 40px;
}
.social-links a:hover{
    color: blue;
}
.contact-links a{
    color: white;
    text-decoration: none;
    margin: auto;
}
.contact-links a:hover{
    color: blue;
}
.actions li a{
    color: #ff523b;
}



